# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar archivos de datos crudos (muy pesados)
data/*.csv
data/*.xlsx
data/*.xls

# PERO dejar pasar el piso lustroso (archivos optimizados)
!data/*.parquet
